@import "../mixins.scss";


.card-container {
  height: auto;
  width: 200px;
  position: relative;
  margin-left: -190px;
  @include transition (all, 0.25s, ease);
  @include bp-medium {
    margin-left: -192px;
  }
  @include bp-small {
    margin-left: -194px;    
  }
  @include bp-mobileOnly {
    margin-left: -196px;    
  }
}