@import "../mixins.scss";


.card-container {
  height: auto;
  width: 200px;
  position: relative;
  margin-left: -180px;
  @include transition (all, 0.25s, ease);
  @include bp-medium {
    margin-left: -195px;
  }
  @include bp-small {
    margin-left: -198px;    
  }
  @include bp-mobileOnly {
    margin-left: -200px;    
  }
}